:root {
    --mimir-primary-color: rgb(243, 10, 27);
}

#mimirBubble {
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 64px;
    opacity: 1;
    width: 64px;
    background: var(--mimir-primary-color);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mimirChat {
    width: min(400px, 80vw);
    height: min(600px, 70vh);
    overflow: hidden;
    border-radius: 16px;
    background-color: white;
    position: fixed;
    bottom: 130px;
    right: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9999;
    padding-top: 70px;
}

#mimirHeader {
    background: var(--mimir-primary-color);
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 30px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
}

#mimirTopText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-family: "Helvetica Neue",
        Arial,
        sans-serif;
    font-size: 24px;
    font-weight: bold;
}

#mimirMessageContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
    width: 100%;
    overflow-y: auto;
    padding: 16px;
}

#mimirChatIcon {
    transition: transform 0.3s ease;
}

#mimirInput {
    width: 100%;
    border: none;
    height: 25px;
    font-size: 16px;
    resize: none;
    overflow: hidden;
    font-family: "Helvetica Neue",
        Arial,
        sans-serif;
}

#mimirInput:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: initial !important;
}

#mimirSendIcon {
    cursor: pointer;
    opacity: 0.6;
}

#mimirSendIcon:hover {
    transform: scale(1.1);
}

#mimirInputForm {
    border-top: 1.5px solid rgba(0, 0, 0, 0.05);
    background-color: white;
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mimirUserMessage,
.mimirUserMessage {
    margin-left: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: var(--mimir-primary-color);
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: min(90%, fit-content);
    display: flex;
    justify-content: end;
}

#mimirBotMessage,
#mimirOpenerMessage,
.mimirBotMessage {
    margin-right: auto;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(228, 230, 234);
    color: black;
    padding: 10px;
    border-radius: 10px;
    width: min(90%, fit-content);
}

#mimirMessageSenderIcon {
    width: 50px;
    height: 50px;
    color: white;
    background-color: var(--mimir-primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#mimirLoadingState {
    padding: 16px;
    padding-right: 32px;
    align-self: start;
    background-color: white;
    width: auto;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font-family: "Helvetica Neue",
        Arial,
        sans-serif;
}

#mimirLoadingText {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Helvetica Neue",
        Arial,
        sans-serif;
}

#mimirSpinner {
    border: 4px solid white;
    border-radius: 50%;
    border-top: 4px solid #000;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}